{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Αλλαγή Κωδικού" %}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">{% trans "Αλλαγή Κωδικού" %}</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">{% trans "Αλλαγή Κωδικού" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
